<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name ="viewport" content ="width=device-width", initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mission to Mars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="container">

        <div class="jumbotron text-center">
          <h1>Mission to Mars</h1>
          <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
        </div>
    
        <div class="row" id="mars-news">
          <div class="col-md-12">
              <h3>Latest Mars News</h3>
                <h4>{{mars.mars_news}}</h4>
                    <p>{{mars.mars_paragraph}}</p>
          </div>
        </div>

        
        <div class ="row" id="mars-hemispheres">
            <div class = "col-md-12">
                <h3><center>Mars Hemispheres</center></h3>

                {% for hemisphere in mars.mars_hemisphere %}
                    <div class = "col-md-6">
                        <div class = "thumbnail">
                            <img src = "{{hemisphere.img_url}}">
                                <h3>{{hemisphere.title}}</h3>
                            </div>
                        </div>
                {% endfor %}
                    </div>

            
            </div>
        </div>
        </div>

        </div>



      </div>
</body>
</html>
